RPC_URL="http://127.0.0.1:8545"
CHAIN_ID=31337  
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
TOKEN_HOLDER=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# for stage testnet
# STORE_VAULT_SERVER_BASE_URL=https://stage.storevault.node.intmax.io

# for local 
STORE_VAULT_SERVER_BASE_URL=http://localhost:9000