ENV=local

RPC_URL="http://127.0.0.1:8545"
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
STORE_VAULT_SERVER_BASE_URL=http://localhost:9000

L2_RPC_URL="http://127.0.0.1:8545"
ROLLUP_CONTRACT_ADDRESS=0xe7f1725e7734ce288f8367e1bb143e90bb3f0512
ROLLUP_CONTRACT_DEPLOYED_BLOCK_NUMBER=1

# for test config
DEPOSIT_SYNC_CHECK_INTERVAL=5
DEPOSIT_SYNC_CHECK_RETRIES=10
DEPOSIT_RELAY_CHECK_INTERVAL=120
DEPOSIT_RELAY_CHECK_RETRIES=40
WITHDRAWAL_CHECK_INTERVAL=120
WITHDRAWAL_CHECK_RETRIES=40
MINING_INFO_CHECK_INTERVAL=120
MINING_INFO_CHECK_RETRIES=100
CLAIM_CHECK_WAIT_TIME=3600
CLAIM_CHECK_INTERVAL=120
CLAIM_CHECK_RETRIES=40
BLOCK_BUILDER_QUERY_WAIT_TIME=5
BLOCK_SYNC_MARGIN=20
TX_STATUS_CHECK_INTERVAL=10
TX_RESEND_INTERVAL=60
TX_RESEND_RETRIES=3
BRIDGE_LOOP_ETH_WAIT_TIME=60
BRIDGE_LOOP_INTMAX_WAIT_TIME=60
TRANSFER_LOOP_WAIT_TIME=600
MINING_LOOP_ETH_WAIT_TIME=600